[MASTER]
init-hook='import sys; sys.path.append("./src/"); sys.path.append("./test"); '
[ZEPBEN]
max-line-length=160
variable-rgx=[a-z_][a-z0-9_]{0,30}$
argument-rgx=[a-z_][a-z0-9_]{0,30}$
disable=no-else-return,too-few-public-methods,missing-module-docstring,super-with-arguments
no-docstring-rgx=^_|^test_|^Test|^setup_method$
max-args=10
